$content: 'f054';
ul.widget-breadcrumb {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    position: relative;

    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
  }

  li:first-child {
    a {
      padding-left: 0;
    }
  }

  li:not(:last-child):after {
    font-family: 'FontAwesome';
    content: #{"\"\\"}#{$content + "\""};
    width: 10px;
    height: 10px;
    position: absolute;
    top: 9px;
    right: -5px;
    font-size: 0.6rem;
  }
}




