@import "../../common/colors";

.cke_dialog_ui_html {
  height: 300px !important;
}

.cke_dialog {
  max-width: 95%;
}

a.cke_dialog_tab {
  padding: 4px 0 !important;
}

.comment {
  .comment-action {
    margin-left: -15px;
  }

  .input-group-alternative {
    box-shadow: none;
    border: thin solid #{$border_color};

    input, .input-group-text {
      color: #{$text_color};
    }
  }

  .comment-form, .comment-reply-form  {
    .django-ckeditor-widget, #cke_id_content_reply {
      display: block !important;
      position: relative;

      .cke {
        width: 100% !important;

        .cke_inner {
          .cke_top {
            padding: 0 !important;
            border-bottom: none !important;
            height: 0 !important;

            .cke_toolbar {
              .cke_toolgroup {
                margin: 0 !important;

                a.cke_button_off {
                  &:hover {
                    background: none !important;
                    padding: 0 !important;
                    border: none !important;
                    cursor: pointer;
                  }
                }

                a.cke_button {
                  position: absolute;
                  right: 15px;
                  top: calc(50% - 13px);
                  height: auto;
                  padding: 0;

                  .cke_button_icon {
                    background-size: 35px !important;
                    width: 35px;
                    height: 35px;
                  }
                }
              }
            }
          }

          .cke_contents {
            height: 100px !important;

            .cke_editable {
              margin: 10px !important;
            }
          }
        }
      }
    }
  }

  .comment-list {
    position: relative;

    .comment-item {
      &.child{
        margin-left: 50px;
        width: calc(100% - 50px);
      }
      display: inline-flex;
      width: 100%;

      .user-avatar {
        width: 40px;
        height: 40px;

        img {
          width: 100%;
          border-radius: 50%;
        }

        .comment-user-type {
          color: #fff;
          padding: 1px 5px;
          font-size: .7rem;
        }
      }

      .comment-content-wrap {
        margin-left: 13px;
        width: calc(100% - 40px);

        .comment-content-reply {
          > span {
            margin-right: 10px;
            font-size: .8rem;
            &:hover{
              cursor: pointer;
              color: #{$text_color_hover};
            }
          }
        }

        .comment-content {
          border-radius: 5px;
          background-color: #f9f9f9;
          padding: 7px;
          width: 100%;
          margin-bottom: 10px;
          border: 1px solid #d5d5d5;
          position: relative;

          div:not(:first-child) {
          }

          .comment-content-text {
            padding: 5px 0;
            margin-bottom: 0 !important;
            color: #333;
            font-size: .9rem;
          }

          .comment-content-title {
            .comment-user-name {
              font-weight: 600;
              color: #555;
            }

            .comment-datetime {
              font-size: .7rem;
              float: right;
            }


            .comment-chapter {
              color: #5a7391;
              font-style: italic;
            }
          }

          &:before, &:after {
            content: "";
            position: absolute;
            top: 8px;
            left: -10px;
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
            border-right: 10px solid #f9f9f9;
          }

          &:before {
            left: -11px;
            border-right-color: #ddd;
          }
        }
      }
    }
  }
}
