.box-links {
  h4 {
    margin: 5px 0;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0 5px 0 0;
      line-height: 28px;
      list-style: none;
      display: inline-block;
    }

    a {
      font-size: .9rem;
      border: solid 1px #000000;
      padding: 2px 5px;
      white-space: nowrap;
      color: #cecece;
      background: rgb(0 0 0 / 80%);
      box-shadow: 0 0 2px #3a3a3a;
    }
  }
}