@import "../../common/colors";

.novel-info {
  p {
    margin-bottom: 0;
  }

  .novel-info-wrap {
    .novel-thumbnail {
      padding: 10px;
      background: #fff;
      box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
      height: fit-content;

      img {
        width: 100%;
        height: auto;
      }
    }

    .novel-categories a {
      display: inline-block;
      margin: 2px 0;
    }
  }


  .novel-detail {
    padding: 0 15px;

    .novel-name {
      h1 {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    .novel-detail-wrap {
      .novel-info {
        float: left;
        max-width: calc(100% - 336px);
        overflow: hidden;
        display: block;
      }

      .ads-area {
        float: right;
        width: 336px;
        margin-right: -15px;
        display: block;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .novel-action {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;

        a {
          &:hover {
            color: #444;
          }

          text-align: center;
          font-size: 45px;

          p {
            font-size: .9rem;
          }
        }
      }

      .novel-categories {
        a {
          .cate-item {
            color: #FFF;
            background: #5b707b;
            border: thin solid #576675;
            padding: 2px 6px;
            margin: 0 3px 3px 0;
            font-size: 0.9rem;
            border-radius: 6px;
          }
        }

      }

      label {
        font-size: .9rem;
        min-width: 130px;
      }

      .rating {
        i, span {
          margin-right: 5px;
          font-size: 1.5rem;
          margin-bottom: 15px;
        }

        span {
          margin-left: 10px;
          font-weight: 500;
        }
      }

      .rating_none {
        color: gray;
      }

      .rating_current {
        color: orange;
      }

      .novel-button {
        text-align: left;
        overflow: hidden;
        display: block;

        a {
          display: inline-block;
          float: left;

          button {
            margin: 2px 5px 2px 0;
            font-weight: 400;
          }
        }
      }

      .des-label {
        border-bottom: 2px solid #{$color1};
      }

      .description-wrapper {
        position: relative;
        margin-bottom: 35px;

        .show-more-btn {
          color: #{$color1};
          position: absolute;
          padding: 2px 5px;
          top: calc(100% - -5px);
          text-decoration: underline;
          text-transform: capitalize;
          cursor: pointer;
          font-size: .9rem;
          font-weight: 500;
          font-style: italic;
        }

        input {
          display: none;
        }

        .show-more-btn:after {
          content: "Xem thêm >";
        }


        .show-more-btn:hover {
          color: #{$text_color_hover};
        }

        input:checked + .show-more-btn:after {
          content: "Thu gọn >";
        }

        input:checked ~ .des-panel {
          max-height: unset;
          height: 100%;
        }

        input:checked ~ .des-fade {
          display: none;
        }

        .des-panel {
          max-height: 100px;
          overflow: hidden;
          text-align: justify;
        }

        .des-fade {
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #ffffffd9 75%);
          height: 50px;
          bottom: 0;
          width: 100%;
          position: absolute;
        }
      }
    }


  }
}

.novel-hashtags {
  margin-top: 10px;

  .box-links {
    ul {
      li {
        a {
          background: #6dc68e;
          border: thin solid #50b274;
          color: #fff;
          box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
          word-wrap: break-word;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .novel-info {
    .novel-detail {
      .novel-detail-wrap {
        .novel-info {
          max-width: 100%;
        }

        .ads-area {
          display: none;
        }

        .novel-button {
          text-align: center;

          a {
            display: inline-block;
            float: unset;
          }
        }
      }
    }
  }

}

/* Small Devices, Tablets */
@media (max-width: 768px) {
  .novel-info {
    .novel-detail {
      .novel-detail-wrap {
        margin-left: -15px;
        margin-right: -15px;

        .novel-categories {
          text-align: center;
        }

      }
    }
  }
}