.novel-wrap {
  padding: 2px;

  .novel-thumbnail-image {
    overflow: hidden;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  }
}

/* Small Devices, Tablets */
@media (max-width: 768px) {

}

