{% load static %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{{ setting.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ setting.meta_description }}">
    <meta name="keywords" content="{{ setting.meta_keywords }}">
    <meta name="author" content="{{ setting.meta_author }}">
    <meta name="copyright" content="{{ setting.meta_copyright }}">

    <link rel="shortcut icon" href="{{ setting.favicon }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    {% stylesheet 'base' %}
    {% block stylesheet %}{% endblock %}
</head>
<body>
{% csrf_token %}
{{ navbar_html }}
<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>
{{ footer_html }}
<script type="text/javascript" src="{% static 'js/common/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/common/jquery.lazy.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common/js.cookie.min.js' %}"></script>
{% block scripts %}{% endblock %}
<script async type="text/javascript" src="{% static 'js/novel/base.js' %}"></script>

{% if setting.google_analystics_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ setting.google_analystics_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', '{{ setting.google_analystics_id }}');
    </script>
{% endif %}
</body>
</html>