{% extends 'novel/base.html' %}
{% load static %}
{% block meta %}
    <meta name="thumbnail" content="{{ setting.meta_img }}"/>
{% endblock %}
{% block content %}
    <div class="row">
        {{ index_include_html }}
    </div>
{% endblock %}
{% block scripts %}
   {% if google_gpt_adm %}
     <script type="text/javascript">
       window.googletag = window.googletag || { cmd: [] };
       window.protag = window.protag || { cmd: [] };
       window.protag.cmd.push(function () {
         window.protag.display("protag-sticky-bottom");
       });
    </script>
   {% endif %}
{% endblock %}