{% extends 'novel/base.html' %}
{% load static %}
{% load pipeline %}
{% block meta %}
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="googlebot" content="noindex, nofollow"/>
{% endblock %}
{% block content %}
    <div class="row">
        {{ user_profile_html }}
    </div>
{% endblock %}
{% block scripts %}
    {% javascript 'user' %}
    <script type="text/javascript">
        function upload_img(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $('#img_avatar').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
{% endblock %}
