{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block nav-header %}{% endblock %}
{% block body %}
    <div class="container-fluid no-gutters auth-body-bg">
        <div class="col-12">
            <div class="authentication-page-content pt-5">
                <div class="w-100">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-3">
                            <div>
                                <div class="text-center">
                                    <div>
                                        <a href="/" class="logo" >
                                            <img style="width:50px;" src="{% static "admin-assets/images/logo-hub.png" %}" alt="Logo">
                                        </a>
                                    </div>
                                    <h4 class="font-size-18 mt-4">Welcome Back !</h4>
                                    <p class="text-muted">Sign in to continue.</p>
                                </div>
                                {% if form.errors and not form.non_field_errors %}
                                    <p class="errornote">
                                        {% if form.errors.items|length == 1 %}
                                            {% translate "Please correct the error below." %}{% else %}
                                            {% translate "Please correct the errors below." %}{% endif %}
                                    </p>
                                {% endif %}
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <p class="errornote">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                {% endif %}
                                {% if user.is_authenticated %}
                                    <p class="errornote">
                                        {% blocktranslate trimmed %}
                                            You are authenticated as {{ username }}, but are not authorized to
                                            access this page. Would you like to login to a different account?
                                        {% endblocktranslate %}
                                    </p>
                                {% endif %}
                                <div class="mt-3">
                                    <form action="{{ app_path }}" method="post" id="login-form"
                                          class="form-horizontal">{% csrf_token %}
                                        {{ form.username.errors }}
                                        <div class="form-group auth-form-group-custom mb-4">
                                            <i class="ri-user-2-line auti-custom-input-icon"></i>
                                            {{ form.username }}
                                        </div>
                                        {{ form.password.errors }}
                                        <div class="form-group auth-form-group-custom mb-4">
                                            <i class="ri-lock-2-line auti-custom-input-icon"></i>
                                            {{ form.password }}
                                            <input type="hidden" name="next" value="{{ next }}">
                                        </div>
                                        <div class="mt-4 text-center">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">
                                                <i class="fas fa-sign-in-alt"></i> {% translate 'Log in' %}
                                            </button>
                                        </div>
                                        {% url 'admin_password_reset' as password_reset_url %}
                                        <div class="mt-4 text-center">
                                            <a href="{{ password_reset_url }}" class="text-muted">
                                                <i class="mdi mdi-lock mr-1"></i>
                                                {% translate 'Forgotten your password or username?' %}
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
