$content: 'f054';
.widget-breadcrumb {
  ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    position: relative;
  }

  li:not(:last-child):after {
    font-family: 'FontAwesome';
    content: #{"\"\\"}#{$content + "\""};
    width: 10px;
    height: 10px;
    position: absolute;
    top: 13px;
    right: -5px;
    font-size: 0.6rem;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}