{% autoescape off %}
  <p>
    Xin chào bạn,
  </p>
  <p>
    Chúng tôi nhận được yêu cầu khôi phục mật khẩu cho email này trên website {{ protocol }}://{{ domain }}.
  </p>
  <p>
    Để thực hiện thay đổi mật khẩu mới, vui lòng nhấp vào link dưới.
  </p>
  <p>
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
  </p>
  <p>
    Yêu cầu này chỉ được xử lý một lần duy nhất. Nếu bạn muốn khôi phục lại mật khẩu khác, Vui lòng truy cập
    {{ protocol }}://{{ domain }}.
  </p>
  <p>
    Nếu bạn không phải người thực hiện yêu cầu, vui lòng bỏ qua email này.
  </p>
  <p>
    Xin cảm ơn.
    <br>
    --------------------
  </p>
  <p>
    Send from <a style="color: mediumblue; font-weight: bold" href="{{ protocol }}://{{ domain }}">{{ domain }}</a>
  </p>
{% endautoescape %}

