{% extends 'novel/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
  <div class="row">
    {% load crispy_forms_tags %}
    <div class="container p-5">
      <div class="row justify-content-md-center">
        <div class="col-md-6 col-12">
          <h4 class="font-weight-bold text-center mt-3">Password Reset Confirm</h4>
          <hr class="info">
          <form method="POST">
            {% csrf_token %}
            <div class="message login text-danger mb-3" role="alert"></div>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                <input required
                       id="id_new_password1"
                       class="form-control"
                       name="new_password1"
                       placeholder="{% translate "New Password" %}"
                       type="password">
              </div>
            </div>
            <div class="form-group focused">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                <input required
                       id="id_new_password2"
                       class="form-control"
                       name="new_password2"
                       placeholder="{% translate "Re-New Password" %}"
                       type="password">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-3">
                <i class="fa fa-refresh"></i> {% translate "Reset password" %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
{% endblock %}
