{% load cache %}
<ul class="navbar-nav ml-auto">
    {% for menu in navbar_menus %}
        <li class="nav-item">
            <a class="nav-link nav-link-icon" href="{{ menu.url }}">
                <i class="{{ menu.fa_icon }}"></i>
                <span class="nav-link-inner--text">{{ menu.name }}</span>
            </a>
        </li>
    {% endfor %}
    {% if enable_auth_menu %}aaaaaaa
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link nav-link-icon" href="#" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ user }}
                    <span class="nav-link-inner--text">{{ user.first_name }} {{ user.last_name }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                    <a class="dropdown-item" href="{% url "user" %}">Account informations</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link nav-link-icon btn-login" href="#" data-toggle="modal" data-target="#modal-login">
                    <i class="fa fa-sign-in"></i>
                    <span class="nav-link-inner--text">Login</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-icon btn-register" href="#" data-toggle="modal" data-target="#modal-login">
                    <i class="fa fa-user-plus"></i>
                    <span class="nav-link-inner--text">Register</span>
                </a>
            </li>
        {% endif %}
    {% endif %}
</ul>