{% load i18n %}
{% load cache %}
<ul class="navbar-nav ml-auto navbar-header-menu">
    {% if enable_auth_menu %}
        {% if user.is_authenticated %}
            <li class="nav-item dropdown nav-item-user d-lg-none">
                <a class="nav-link nav-link-icon" href="#" rel="nofollow">
                    <span class="nav-link-inner--text">{{ user.first_name }} {{ user.last_name }}</span>
                    <img src="{{ user_avatar }}" class="user-avatar" alt="avatar" rel="nofollow">
                </a>
            </li>
            <li class="nav-item dropdown d-lg-none">
                <a class="nav-link nav-link-icon dropdown-toggle" href="#" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" rel="nofollow">
                    <i class="fa fa fa-address-book-o"></i>
                    <span class="nav-link-inner--text">Thông tin tài khoản</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right user-profile-menu">
                    {% for menu in user_menus %}
                        <a class="dropdown-item" href="{{ menu.url }}" rel="nofollow">
                            {% if menu.icon %}
                                <i class="{{ menu.icon }}"></i>
                            {% endif %}
                            {{ menu.name }}</a>
                    {% endfor %}
                    <a class="dropdown-item" href="{% url "user_logout" %}" rel="nofollow">
                        <i class="fa fa-sign-out"></i> {{ logout_label }}</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item d-lg-none">
                <a class="nav-link nav-link-icon btn-login" href="#" data-toggle="modal" data-target="#modal-login">
                    <i class="fa fa-sign-in"></i>
                    <span class="nav-link-inner--text">{% translate "Login" %}</span>
                </a>
            </li>
            <li class="nav-item d-lg-none">
                <a class="nav-link nav-link-icon btn-register" href="#" data-toggle="modal" data-target="#modal-login">
                    <i class="fa fa-user-plus"></i>
                    <span class="nav-link-inner--text">{% translate "Register" %}</span>
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% for menu in navbar_menus %}
        <li class="nav-item {{ menu.extra_class }}">
            <a class="nav-link nav-link-icon" href="{{ menu.url }}">
                <i class="{{ menu.icon }}"></i>
                <span class="nav-link-inner--text">{{ menu.name }}</span>
            </a>
        </li>
    {% endfor %}
    {% if enable_auth_menu %}
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="{% url "user_profile" tab_name="message" %}" rel="nofollow">
                    <i class="fa fa fa-bell"></i>
                    {% if unread_notify_number %}
                        <span class="badge bg-c-red">{{ unread_notify_number }}</span>
                    {% endif %}
                </a>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link nav-link-icon" href="{% url "user_profile" tab_name="comment" %}" rel="nofollow">#}
{#                    <i class="fa fa fa-comments"></i>#}
{#                    <span class="badge bg-c-red">5</span>#}
{#                </a>#}
{#            </li>#}
            <li class="nav-item dropdown nav-item-user d-none d-lg-block">
                <a class="nav-link nav-link-icon dropdown-toggle" href="#" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" rel="nofollow">
                    <img src="{{ user_avatar }}" class="user-avatar" alt="avatar" rel="nofollow">
                    <span class="nav-link-inner--text">{{ user.first_name }} {{ user.last_name }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right user-profile-menu">
                    {% for menu in user_menus %}
                        <a class="dropdown-item" href="{{ menu.url }}" rel="nofollow">
                            {% if menu.icon %}
                                <i class="{{ menu.icon }}"></i>
                            {% endif %}
                            {{ menu.name }}</a>
                    {% endfor %}
                    <a class="dropdown-item" href="{% url "user_logout" %}" rel="nofollow">
                        <i class="fa fa-sign-out"></i> {{ logout_label }}</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item d-none d-lg-block">
                <a class="nav-link nav-link-icon btn-login" href="#" data-toggle="modal" data-target="#modal-login">
                    <i class="fa fa-sign-in"></i>
                    <span class="nav-link-inner--text">{% translate "Login" %}</span>
                </a>
            </li>
            <li class="nav-item d-none d-lg-block">
                <a class="nav-link nav-link-icon btn-register" href="#" data-toggle="modal" data-target="#modal-login">
                    <i class="fa fa-user-plus"></i>
                    <span class="nav-link-inner--text">{% translate "Register" %}</span>
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% if genre_menu %}
        <li class="nav-item dropdown genre-menu d-md-none">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="nofollow">
                {% if genre_menu.icon %}
                    <i class="{{ genre_menu.icon }}"></i>
                {% endif %}
                {{ genre_menu.name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-inner-primary_dropdown_1">
                {% for genre in genre_menu.data %}
                    <a class="dropdown-item" href="{{ genre.get_absolute_url }}">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ genre.name }}</a>
                {% endfor %}
            </div>
        </li>
    {% endif %}
</ul>