{% load socialaccount %}
{% load static %}
<div class="modal fade modal-chapter" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-chapter"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card bg-secondary border-0">
                <div class="card-header bg-white pt-4">
                    <div class="text-muted text-center mb-3">Sign in with</div>
                    <div class="btn-wrapper text-center">
                        {% load socialaccount %}
                        <a href="{% provider_login_url "google" %}" class="btn btn-secondary btn-icon mt-2">
                            <span class="btn-inner--icon"><img src="{% static "images/google.svg" %}" alt=""></span>
                            <span class="btn-inner--text d-none d-md-inline">Google</span>
                        </a>
                        <a href="{% provider_login_url "facebook" method="oauth2" %}"
                           class="btn btn-secondary btn-icon mt-2">
                            <span class="btn-inner--icon"><img src="{% static "images/fb.png" %}" alt=""></span>
                            <span class="btn-inner--text d-none d-md-inline">Facebook</span>
                        </a>
                        <a href="{% provider_login_url "zalo" %}" class="btn btn-secondary btn-icon mt-2">
                            <span class="btn-inner--icon"><img src="{% static "images/zalo.png" %}" alt=""></span>
                            <span class="btn-inner--text d-none d-md-inline">Zalo</span>
                        </a>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="login" class="card-body px-lg-5 tab-pane fade in container">
                        <div class="text-center text-muted mb-3">
                            Or sign in with credentials
                        </div>
                        <form role="form" id="login-form">
                            {% csrf_token %}
                            <div class="message login text-danger mb-3" role="alert"></div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    {{ login_form.email }}
                                    {#                                    <input class="form-control" placeholder="Email" type="email">#}
                                </div>
                            </div>
                            <div class="form-group focused">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                                    </div>
                                    {{ login_form.password }}
                                    {#                                    <input class="form-control" placeholder="Password" type="password">#}
                                </div>
                            </div>
                            <div class="custom-control custom-control-alternative custom-checkbox">
                                <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                <label class="custom-control-label"
                                       for=" customCheckLogin"><span>Remember me</span></label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-3">
                                    <i class="fa fa-sign-in"></i> Sign in
                                </button>
                            </div>
                        </form>
                    </div>
                    <div id="reset-password" class="card-body px-lg-5 tab-pane fade container">
                        <div class="text-center text-muted mb-3">
                            Or input email to reset your password.
                        </div>
                        <form role="form" id="lost-pass-form">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    {{ lost_pass_form.email }}
                                    {#                                    <input class="form-control" placeholder="Email" type="email">#}
                                </div>
                            </div>
                            <div class="message lost-password text-danger mb-3" role="alert"></div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-3"><i class="fa fa-send"></i>
                                    Send password to email
                                </button>
                            </div>
                        </form>
                    </div>
                    <div id="register" class="card-body px-lg-5 tab-pane fade container">
                        <div class="text-center text-muted mb-4">
                            Or sign up with credentials
                        </div>
                        <form role="form" id="register-form">
                            {% csrf_token %}
                            <div class="text-danger message register mb-3" role="alert"></div>
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                                    </div>
                                    {{ register_form.name }}
                                    {#                                    <input class="form-control" placeholder="Name" type="text">#}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    {{ register_form.email }}
                                    {#                                    <input class="form-control" placeholder="Email" type="email">#}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                                    </div>
                                    {{ register_form.password }}
                                    {#                                    <input class="form-control" placeholder="Password" type="password">#}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-refresh"></i></span>
                                    </div>
                                    {{ register_form.re_password }}
                                    {#                                    <input class="form-control" placeholder="Password" type="password">#}
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <div class="custom-control custom-control-alternative custom-checkbox">
                                        <input class="custom-control-input" id="customCheckRegister" type="checkbox" required>
                                        <label class="custom-control-label" for="customCheckRegister">
                                            <span class="text-muted">I agree with the
                                                <a href="#">Privacy Policy</a></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary mt-3">
                                    <i class="fa fa-check"></i> Create account
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer px-lg-5">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a href="#reset-password" data-toggle="tab" class="nav-link tab-reset">
                                Quên mật khẩu?
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#login" data-toggle="tab" class="nav-link tab-login">
                                Đăng nhập
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#register" data-toggle="tab" class="nav-link tab-register">
                                Đăng ký tài khoản
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>