{% load i18n %}
{% load static %}
<div class="row chapter-content">
    <div class="col-12 chapter-actions">
        <div class="action-wrap">
            <a href="/" rel="nofollow"><i class="fa fa-home text-primary"></i></a>
            <a href="{{ novel.get_absolute_url }}" rel="nofollow"><i
                    class="fa fa-newspaper-o text-default"></i></a>
            <a href="#" rel="nofollow"><i class="fa fa-bookmark text-default"></i></a>
            {% if chapter_next_url %}
                <a href="{{ chapter_next_url }}" class="btn btn-secondary btn-sm float-right mr-0" rel="nofollow">
                    <span class="d-none d-lg-inline">{% translate "Next" %}</span> <i
                        class="fa fa-chevron-right"></i></a>
            {% endif %}
            <a href="#" class="btn btn-secondary btn-sm float-right mr-1" data-toggle="modal"
               data-target="#modal-chapter" rel="nofollow"><i class="fa fa-list"></i><span
                    class="d-none d-lg-inline">{% translate "Chapter list" %}</span></a>
            {% if chapter_prev_url %}
                <a href="{{ chapter_prev_url }}" class="btn btn-secondary btn-sm float-right mr-1" rel="nofollow">
                    <i class="fa fa-chevron-left"></i> <span class="d-none d-lg-inline">{% translate "Prev" %}</span></a>
            {% endif %}
        </div>
    </div>
    <div class="col-12 chapter-header">
        <div class="header-action my-4">
{#            <a href="#" class="btn btn-default btn-sm dark-mode" rel="nofollow">#}
{#                <i class="fa fa-adjust"></i> {% translate "Dark mode" %}</a>#}
            <a href="#" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modal-report" rel="nofollow">
                <i class="fa fa-bug"></i> {% translate "Error report" %}</a>
        </div>
        <div class="col-12 chapter-title">
            <h4>{{ novel.name }}</h4>
            <h5>{{ chapter.name }}</h5>
        </div>
    </div>
    <hr class="hr-light">
    <div class="col-12 chapter-detail">
        {% autoescape off %}
            {{ chapter.decompress_content }}
        {% endautoescape %}
        {% if stream_images %}
            <p class="bg-yellow text-center text-uppercase box-warning">{% translate "Please visit this chapter after 5 minutes if your browser cannot load these images now." %}</p>
        {% endif %}
        <div class="chapter-images">
            {% if mix_images %}
                {% for mix_image in mix_images %}
                    {% if forloop.counter <= 3 %}
                        {% if "/images/" not in mix_image %}
                            <img src="{{ cdn_domain }}/{{ mix_image }}" alt="">
                        {% else %}
                            <img src="{{ mix_image }}" alt="">
                        {% endif %}
                    {% else %}
                        {% if "/images/" not in mix_image %}
                            <img data-src="{{ cdn_domain }}/{{ mix_image }}" src="{% static "images/lazyload.gif" %}"
                                 alt=""
                                 class="lazyload">
                        {% else %}
                            <img data-src="{{ mix_image }}" src="{% static "images/lazyload.gif" %}" alt=""
                                 class="lazyload">
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% elif cdn_images %}
                {% for cdn_image in cdn_images %}
                    {% if forloop.counter <= 3 %}
                        <img src="{{ cdn_domain }}/{{ cdn_image }}" alt="">
                    {% else %}
                        <img data-src="{{ cdn_domain }}/{{ cdn_image }}" src="{% static "images/lazyload.gif" %}" alt=""
                             class="lazyload">
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if not mix_images %}
                {% for image_url in stream_images %}
                    {% if forloop.counter > cdn_images|length and forloop.counter <= cdn_images|length|add:"2" %}
                        <img src="{{ image_url }}" alt="">
                    {% elif forloop.counter > cdn_images|length|add:"2" %}
                        <img data-src="{{ image_url }}" src="{% static "images/lazyload.gif" %}" alt=""
                             class="lazyload">
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <hr class="hr-text" data-content="END CHAPTER">
    {% if chapter.next_chapter %}
        <div class="col-12 chapter-hashtags">
            <a href="{{ chapter_next_url }}" class="btn btn-sm btn-warning"
               title="{{ novel.name }} {{ chapter_next_name }}">{{ novel.name }} {{ chapter_next_name }}</a>
        </div>
    {% endif %}
    <div class="col-12 chapter-actions-end">
        <div class="action-wrap">
            {% if chapter_next_url %}
                <a href="{{ chapter_next_url }}" class="btn btn-success btn-sm float-right mr-0" rel="nofollow">
                    <span class="d-none d-lg-inline">{% translate "Next" %}</span> <i
                        class="fa fa-chevron-right"></i></a>
            {% endif %}

            {% if chapter_prev_url %}
                <a href="{{ chapter_prev_url }}" class="btn btn-success btn-sm float-right mr-1" rel="nofollow">
                    <i class="fa fa-chevron-left"></i> <span class="d-none d-lg-inline">{% translate "Prev" %}</span></a>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade modal-chapter" id="modal-chapter" tabindex="-1" role="dialog" aria-labelledby="modal-chapter"
     aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="chapter-list">
                <ul>
                    {% for chap in chapter_list %}
                        <li>
                            <a href="{{ chap.url }}">{{ chap.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
