{% load static %}
{% if chapter %}
    <div class="chapter-content">
        <div class="row chapter-actions">
            <div class="col-5">
                <div class="row">
                    {% if chapter.prev_chapter_url %}
                        <a href="{{ chapter.prev_chapter_url }}">
                            <button type="button" class="btn btn-sm btn-default d-lg-none">
                                <i class="fas fa-chevron-left"></i> Prev
                            </button>
                            <button type="button" class="btn btn-default d-none d-lg-block">
                                <i class="fas fa-chevron-left"></i> Prev
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-2">
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-sm btn-default d-lg-none" data-toggle="modal"
                            data-target="#modal-chapter">
                        <i class="fas fa-book"></i>
                    </button>
                    <button type="button" class="btn btn-default d-none d-lg-block" data-toggle="modal"
                            data-target="#modal-chapter">
                        <i class="fas fa-book"></i> Chapter List
                    </button>
                </div>
            </div>
            <div class="col-5">
                <div class="row justify-content-end">
                    {% if chapter.next_chapter_url %}
                        <a href="{{ chapter.next_chapter_url }}">
                            <button type="button" class="btn btn-sm btn-default d-lg-none">
                                Next <i class="fas fa-chevron-right"></i>
                            </button>
                            <button type="button" class="btn btn-default d-none d-lg-block">
                                Next <i class="fas fa-chevron-right"></i>
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 chapter-title">
                <h3>{{ chapter.novel.name }}</h3>
                <h5>{{ chapter.name }}</h5>
            </div>
        </div>
        <hr class="hr-light">
        <div class="row chapter-detail">
            <div class="col-12">
                {% autoescape off %}
                    {{ chapter.decompress_content }}
                {% endautoescape %}
            </div>
        </div>
        <hr class="hr-text" data-content="END CHAPTER">
    </div>
    <div class="modal fade modal-chapter" id="modal-chapter" tabindex="-1" role="dialog" aria-labelledby="modal-chapter"
         aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="chapter-list">
                    <ul>
                        {% for chap in chapter.novel.chapters %}
                            <li><a href="{% if chapter == chap %}#current{% else %}{{ chap.get_absolute_url }}{% endif %}">{{ chap.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}