{% load static %}
<div class="comment" id="comment">
    <div class="row">
        <div class="col-12">
            <div class="widget-title">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#custom-comment" role="tab" data-toggle="tab">
                            {% if icon %}
                                <i class="{{ icon }}"></i>
                            {% endif %}
                            {{ title }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#fb-comment" role="tab" data-toggle="tab">
                            {% if fb_icon %}
                                <i class="{{ fb_icon }}"></i>
                            {% endif %}
                            {{ fb_title }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in show active" id="custom-comment">
            {{ comment_form_media }}
            {% include "novel/includes/comment_form.html" %}
            {{ comment_html }}
            <div class="row mt-5">
                <div class="col-12 comment-list">
                    {% for cmt_obj in comment_data %}
                        {% include "novel/includes/comment_item.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="fb-comment">
            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="100%"
                 data-numposts="5"></div>
        </div>
    </div>
</div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId={{ setting.meta_fb_app_id }}&autoLogAppEvents=1"
        nonce="fzz7rsRH">
</script>
