<div class="container-fluid">
  <div class="row footer">
    {% if not default_footer_info %}
      <div class="container">
        <div class="row">
          <div class="col-sm-4 copyright" itemscope="" itemtype="http://schema.org/Organization">
            {% autoescape off %}
              {{ footer_info.content }}
              {{ footer_info.copyright }}
            {% endautoescape %}
          </div>
          <div class="col-sm-8">
            {{ hashtag_html }}
          </div>
        </div>
      </div>
    {% else %}
      <div class="col-12 d-flex justify-content-center">
        Copyright@ truyencomic.net | Email: truyencomic.net@gmail.com
      </div>
    {% endif %}
  </div>
</div>