<section class="card-box genres darkBox">
  <div class="widget-title">
    <label><i class="fa fa-th-list"></i>
      {{ title }}
    </label>
    <div class="widget-actions"></div>
  </div>
  <div class="categories clearfix">
    <ul class="nav">
      {% for genre in genres %}
        {% if forloop.counter0|divisibleby:2 %}
          <li class="{{ class_column }} list-group-item-success">
            <span><i class="fa fa-book"></i></span>
            <a href="{{ genre.get_absolute_url }} " title="{{ genre.name }} ">{{ genre.name }} </a>
          </li>
        {% else %}
          <li class="{{ class_column }} list-group-item-primary">
            <span><i class="fa fa-book"></i></span>
            <a href="/{{ genre.get_absolute_url }} " title="{{ genre.name }} ">{{ genre.name }} </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
