{% load static %}
{% if widget %}
    <div class="novel-list">
        <div class="row">
            <div class="col-12">
                <div class="novel-list-title">
                    <label>
                        {% if widget.fa_icon %}
                            <i class="{{ widget.fa_icon }}"></i>
                        {% endif %}
                        {{ widget.title }}
                    </label>
                    {% if widget.novels.has_next %}
                        <span><a href="/novel?view=list&type=latest_update">View all</a></span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% for novel in widget.novels %}
            <div class="row novel-list-item">
                <div class="col-12">
                    <div class="novel-wrap">
                        <div class="novel-thumbnail-image">
                            <a href="{{ novel.get_absolute_url }}">
                                <img src="{{ novel.thumbnail_image }}" alt="{{ novel.name }}">
                            </a>
                        </div>
                        <div class="novel-name">
                            <a href="{{ novel.get_absolute_url }}"><h6>{{ novel.name }}</h6></a>
                        </div>
                        <div class="novel-chapter">
                            <a href="{{ novel.chapters.0.get_absolute_url }}">{{ novel.chapters.0.name }}</a>
                            <div class="chapter-updated-time">{{ novel.chapters.0.created_at_str }}</div>
                        </div>
                        <div class="novel-authors">{{ novel.authors_name }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}