<section class="novel-genre">
    <div class="row">
        <div class="col-12">
            <div class="widget-title">
                <label><i class="fa fa-tags"></i>
                    {{ title }}
                </label>
                <div class="widget-actions"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 novel-genre-wrap" style="-webkit-columns:{{ col_number }};columns:{{ col_number }};">
            {% for genre in genres %}
                <div class="novel-genre-item">
                    <i class="fa fa-book"></i>
                    <a href="{{ genre.get_absolute_url }} " title="{{ genre.name }} ">{{ genre.name }} </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
