{% load i18n %}
{% load static %}
<div class="modal fade modal-chapter" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="modal-chapter"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card bg-secondary border-0">
                <form role="form" id="report-form">
                    <div class="card-header bg-white pt-4 text-center">
                        <div class="text-muted text-center"><h6>{% translate "ERROR REPORT" %}</h6></div>
                        <div class="text-muted"><h6>{{ novel_name }}</h6></div>
                        {% if chapter_name %}
                            <div class="text-muted">{{ chapter_name }}</div>
                        {% endif %}
                    </div>
                    <div class="card-body px-lg-4 container">
                        {% csrf_token %}
                        {{ report_form.novel_id }}
                        {{ report_form.chapter_id }}
                        <div class="message login text-danger" role="alert"></div>
                        <div class="input-group input-group-alternative">
                            {{ report_form.content }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary my-0">
                                <i class="fa fa-bug"></i> {% translate "Send report" %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

