body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #243239;
  text-align: left;
  background: #fff;
}

button:focus {
  outline: 0;
}

a {
  color: #243239;
}

.novel-bg {
  background-image: url("https://truyencomic.net/static/images/bg-search.jpg");
  padding: 0 0 20px 0;
  margin-right: -15px;
  margin-left: -15px;
}

.chapter-list .chapter-list-item .chapter-wrap .chapter-name h6 {
  font-size: 0.9rem;
}


.chapter-list .chapter-list-item .chapter-wrap {
  border-bottom: thin solid #ddd;
  height: 40px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.chapter-list .chapter-list-item .chapter-wrap h6 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pagination {
  float: right;
  margin-top: 20px;
}

.novel-info p {
  margin-bottom: 0;
}

.novel-info div, .novel-info p, .novel-info label, .novel-info span {
  color: #333;
  font-size: 1rem;
  font-weight: 500;
}

.novel-info .novel-info-wrap {
  background: #FFF;
}

.novel-info .novel-info-wrap .novel-details {
  padding-right: 0;
  padding-left: 0;
}

.novel-info .novel-info-wrap .novel-details .novel-details-wrap {
  background: #FFF;
  margin: 0;
  padding: 20px;
  height: 100%;
  /*box-shadow: 0 0 7px 0 rgb(125 125 125);*/
}

.novel-info .novel-info-wrap .novel-details .novel-details-wrap label {
  min-width: 110px;
  font-weight: 600;
  font-size: 0.9rem;
}

.novel-info .novel-info-wrap .novel-details .novel-name h3 {
  font-weight: 600;
}

.novel-info .novel-details-wrap .novel-button button {
  margin-top: 15px;
  margin-right: 5px;
}

.novel-info .novel-info-wrap .novel-action o {
  font-size: 1.5rem;
}

.novel-info .novel-info-wrap .novel-thumbnail {
  /*box-shadow: 0 0 7px 0 rgb(125 125 125);*/
  padding: 10px;
  background: #fff;
}

.novel-info .novel-info-wrap .novel-thumbnail img {
  width: 100%;
  height: auto;
}


.novel-info .novel-info-wrap .rating .rating_none {
  color: gray;
}

.novel-info .novel-info-wrap .cate-item {
  color: #FFF;
  background: #5b707b;
  border: thin solid #576675;
  padding: 2px 7px;
  margin-right: 5px;
  font-size: 0.9rem;
  border-radius: 4px;
}

.novel-info .novel-breadcrumb {
  margin-bottom: 30px;
}

.novel-info .novel-breadcrumb span, .novel-info .novel-breadcrumb a {
  font-size: 1rem;
  padding: 0 5px;
}

.novel-info .novel-info-wrap .novel-summary .novel-summury-item:not(:last-child):not(:nth-child(3)) {
  border-right: thin solid #EEE;
}

.novel-info .novel-info-wrap .novel-mobile-action {
  margin-top: 30px;
}

.novel-info .novel-info-wrap .novel-summary .novel-summury-item.action-item,
.novel-info .novel-info-wrap .novel-mobile-action .action-item {
  text-align: center;
}

.novel-info .novel-info-wrap .novel-summary .novel-summury-item.action-item i,
.novel-info .novel-info-wrap .novel-mobile-action .action-item i {
  font-size: 2rem;
  color: #5b707b;
}

.footer {
  min-height: 100px;
  background: url("/static/images/black-bg.png");
  color: #F0F0F0;
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Small Devices, Tablets */
@media (max-width: 768px) {

  .novel-bg {
    padding: 10px 0 20px 0;
  }

  .chapter-list {
    margin: 20px 0 0 0;
  }

  .novel-info .novel-info-wrap .novel-details .novel-name h3 {
    font-size: 1.2rem;
    margin: 0;
  }


  .novel-info .novel-info-wrap .novel-details .novel-details-wrap {
    padding: 20px 10px;
  }

  .novel-info .novel-info-wrap .novel-thumbnail {
    margin: 20px auto 10px auto;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
  }

  .novel-info .novel-breadcrumb {
    margin-bottom: 20px;
  }

  .novel-info .novel-breadcrumb span, .novel-info .novel-breadcrumb a {
    font-size: 0.8rem;
    padding: 0 3px;
  }
}

/* Small Devices, Phones */
@media (max-width: 600px) {

}
