.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.badge {
  background: #ff5370;
  display: inline-block;
  border-radius: 50%;
  left: 13px;
  position: absolute;
  top: 10px;
  color: #fff;
  padding: 4px;
  width: 19px;
  -webkit-animation: not-blink 2.1s cubic-bezier(.65, .815, .735, .395) infinite;
  animation: not-blink 2.1s cubic-bezier(.65, .815, .735, .395) infinite;
}

//
//.btn-primary:hover {
//  color: #fff;
//  background-color: #286090;
//  border-color: #204d74;
//}
//
//.btn-primary {
//  color: #fff;
//  background-color: #337ab7;
//  border-color: #2e6da4;
//}
#ads-scroll-left, #ads-scroll-right {
  width: 200px;
  max-height: 800px;
  position: fixed;
  top: 120px;

  img {
    width: 100%;
  }
}

.modal {
  z-index: 100000 !important;
}

.ads-area {
  display: flex;
  justify-content: center;
  background: #fff;
}

#ads-scroll-left {
  left: calc(((100% - 1260px) / 2) - 210px);
}

#ads-scroll-right {
  right: calc(((100% - 1260px) / 2) - 210px);
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  top: 0;
  left: 0;
}

.particles-js-canvas-el {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  opacity: .5;
}

.dropdown-toggle {
  &::after {
    vertical-align: .1em;
  }
}

.navbar-header-menu {
  margin-right: 0 !important;

  .genre-menu {
    .dropdown-menu {
      i {
        vertical-align: unset !important;
        margin-right: .5rem !important;
      }

      &.show {
        animation: none !important;
        padding: 0;
        margin: 0;
      }

      a.dropdown-item {
        padding: 8px 20px !important;
        display: inline-block !important;
        font-weight: normal !important;
      }
    }
  }

  .nav-link {
    .user-avatar {
      width: 22px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
}

.grecaptcha-badge {
  opacity: 0;
}

@font-face {
  font-family: 'fontawesome';
  font-display: auto;
  src: url("/static/argon/assets/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2');
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #243239;
  text-align: left;
  background: #efefef;
}

html {
  scroll-behavior: smooth;
}

.content-wrap {
  min-height: 645px;
  padding: 15px;
  background: #fff;
  margin: 15px auto;
  box-shadow: 0 5px 15px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

button:focus {
  outline: 0;
}

a {
  color: #243239;
}


//NAVBAR
.navbar-base {
  .container {
    padding-right: 0;
  }
}

#mobile-menu {
  flex-direction: column;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
}

#mobile-menu input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 9992;
}

#mobile-menu span.menu-icon {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 9991;
  transform-origin: 5px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

#mobile-menu span.menu-icon:first-child {
  transform-origin: 0 0;
}

#mobile-menu span.menu-icon:nth-last-child(2) {
  transform-origin: 0 100%;
}

#mobile-menu input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}

#mobile-menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#mobile-menu input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#mobile-menu-toggle {
  position: fixed;
  z-index: 9990;
  width: 75%;
  height: 101%;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 15px 10px 0 48px;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#mobile-menu input:checked ~ #backdrop {
  display: block !important;
}

#mobile-menu input:checked ~ ul {
  transform: none;
  overflow: scroll;
}

#navbar-danger, #mobile-menu {
  justify-content: flex-end;
  //width: 100%;
  margin: 0 !important;
  border-radius: 0 !important;

  .navbar-collapse-header {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;

    .collapse-close {
      position: absolute;
      right: -15px;
      top: -20px;


      i {
        font-size: 1.7rem;
        color: #333;
      }
    }
  }

  ul.navbar-header-menu {
    justify-content: flex-end;
    margin-right: 30px;

    li {
      position: relative;

      a {
        font-size: .9rem;
        font-weight: normal;
      }

      .notify-message-menu {
        width: 300px;

        a {
          padding: 10px 15px;
          width: auto;
          border-bottom: thin solid #eeeeee;
        }

        a:last-child {
          border-bottom: none;
        }
      }

      .user-profile-menu {
        padding: 0;
        margin: 0;
        z-index: 1001;

        a {
          padding: 5px 15px;
          font-weight: normal;

          i {
            vertical-align: unset;
            margin-right: .5rem;
            font-size: inherit;
          }
        }
      }
    }
  }
}

.mobile-search-toggle i {
  font-size: 1.5rem;
  color: #fff;
}

/* Let's get this party started */
.ui-helper-hidden-accessible {
  display: none;
}

/* Let's get this party started */
.ui-autocomplete::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.ui-autocomplete::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.ui-autocomplete::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(136, 136, 136, 1);
}

.ui-autocomplete::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(162, 162, 162, 1);
}

.ui-autocomplete {
  position: absolute;
  min-width: 300px;
  right: 0 !important;
  left: auto !important;
  z-index: 10000;
  display: none;
  float: left;
  padding: 0 0 2px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  max-height: 400px;
  overflow-y: auto;
}

#search-area {
  position: relative;
}

.search-item {
  display: block;
  overflow: hidden;
  border-bottom: thin solid #F0F0F0;
  padding: 3px;
  cursor: pointer;
}

.search-item img {
  width: 50px;
  float: left;
  margin-right: 5px;
}

.search-item .search-item-title {
  font-size: 0.8rem;
  font-weight: 600;
}

.search-wrap {
  width: 300px;
  display: none;
  margin: 0 50px 0 0;

  .form-search {
    display: flex;
    width: 100%;

    input {
      &.search {
        padding: 0 0 0 1.2rem !important;
        border-radius: 40px 0 0 40px;
      }
    }

    .input-group-append {
      .btn-search {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        padding-right: 15px;
      }

    }
  }
}

.navbar {
  background: #243239;
}

.navbar-brand {
  margin-right: 50px;

  img {
    height: 30px;
  }
}

.navbar-nav {
  margin-right: 100px;
}

nav.pagination-wrap {
  width: 100%;
  padding: 0 15px;
}

span.navbar-toggler-icon {
  &:before {
    content: '\f0c9';
    font-family: 'FontAwesome', serif;
    font-size: 30px;
    color: #FFF;
    left: 30px;
    position: absolute;
  }
}

//END NAVBAR
.footer {
  min-height: 100px;
  background: url("/static/images/black-bg.png");
  color: #F0F0F0;
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 1600px) {
  #ads-scroll-left, #ads-scroll-right {
    display: none;
  }
}

@media (min-width: 1260px) {
  .container {
    max-width: 1260px;
  }
}

/* Small Devices, Tablets */
@media (max-width: 768px) {

  .nav-link {
    padding: .4rem 0 !important;
  }
  .content-wrap {
    margin: 0 auto;
  }

  //NAVBAR
  #navbar-danger {
    justify-content: start;

    .navbar_menu {
      ul {
        margin-right: 30px;

        li {
          a {
            font-size: 1rem;
            font-weight: normal !important;
          }
        }
      }
    }
  }
  .ui-autocomplete {
    min-width: 100%;
  }

  #search-area {
    width: 100%;
  }

  .search-wrap {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .navbar-header-menu {
    li:first-child:not(.nav-item-user) {
      margin-top: 40px;
      padding-top: 5px;
      border-top: thin solid #eee;
    }

    .nav-item-user {
      text-align: right;
      border-bottom: thin solid #eee;
      margin-bottom: 10px;
    }

  }
  //END NAVBAR
}

/* Small Devices, Phones */
@media (max-width: 600px) {
  .navbar-brand {
    margin-right: 0;
  }

}
