<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        {% if widget.logo %}
            <a class="navbar-brand" href="/">
                <img src="{{ widget.logo }}" alt="{{ widget.title }}">
            </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-danger"
                aria-controls="navbar-danger" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-danger">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        {% if widget.logo %}
                            <a href="/">
                                <img src="{{ widget.logo }}" alt="{{ widget.title }}">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-danger"
                                aria-controls="navbar-danger" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav ml-auto">
                {% for menu in widget.menus %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="{{ menu.url }}">
                            <i class="{{ menu.fa_icon }}"></i>
                            <span class="nav-link-inner--text">{{ menu.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>