{% load static %}
<div class="novel-list">
    <div class="row">
        <div class="col-12">
            <div class="novel-list-title">
                <label>{{ title }}</label>
                {% if novels.has_next %}
                    <span>View all</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% for novel in novels %}
        <div class="row novel-list-item">
            <div class="col-12">
                <div class="novel-wrap">
                    <div class="novel-thumbnail-image">
                        <img src="{{ novel.thumbnail_image }}" alt="{{ novel.name }}">
                    </div>
                    <div class="novel-name">
                        <h6>{{ novel.name }}</h6>
                    </div>
                    <div class="novel-chapter">
                        {{ novel.chapters.0.name }}
                        <div class="chapter-updated-time">{{ novel.chapters.0.created_at_str }}</div>
                    </div>
                    <div class="novel-authors">{{ novel.authors_name }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
