{% load static %}
<div class="novel-grid">
    <div class="row">
        <div class="col-12">
            <div class="novel-grid-title">
                <label>{{ title }}</label>
                {% if novels.has_next %}
                    <span>View all</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        {% for novel in novels %}
            <div class="col-4 col-md-3 col-lg-2 novel-grid-item form-group">
                <div class="novel-wrap">
                    <div class="novel-thumbnail-image">
                        <img src="{{ novel.thumbnail_image }}" alt="{{ novel.name }}">
                    </div>
                    <div class="novel-name">
                        <h6>{{ novel.name }}</h6>
                    </div>
                    <div class="novel-chapter">
                        {{ novel.chapters.0.name }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

