{% load static %}
{% block stylesheet %}
    <style>

    </style>
{% endblock %}
{% if novel %}

    <div class="container novel-info">
        <div class="row novel-breadcrumb">
            <div class="col-12">
                <a href="/">Home</a> /
                <a href="/">Novel</a> /
                <a href="{{ novel.get_absolute_url }}">{{ novel.name }}</a>
            </div>
        </div>
        <div class="row novel-info-wrap d-flex justify-content-center">
            <div class="col-md-3 col-7 novel-thumbnail">
                <img class="" src="{{ novel.thumbnail_image }}" alt="{{ novel.name }}">
            </div>
            <div class="col-md-9 col-12 novel-details">
                <div class="row novel-details-wrap">
                    <div class="col-12 novel-name">
                        <h3>{{ novel.name }}</h3>
                    </div>
                    <div class="col-12 rating">
                        {% for rating in novel.rating_classes %}
                            <i class="{{ rating }} fa fa-star"></i>
                        {% endfor %}
                        <span>{{ novel.vote }}</span>
                    </div>

                    <div class="col-12 novel-authors">
                        <label>Authors </label>
                        <span>{{ novel.authors_name }}</span>
                    </div>
                    <div class="col-12 novel-categories">
                        <label>Categories </label>
                        {% for gen in novel.genres.all %}
                            <span class="cate-item">{{ gen.name }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <label>Latest update </label>
                        <span>{{ novel.chapters.0.created_at_str }}</span>
                    </div>
                    <div class="col-12 novel-summary">
                        <div class="row">
                            <div class="col-4 col-md-2 novel-summury-item chapters">
                                <label>Chapters</label>
                                <p><i class="fas fa-book"></i> {{ novel.chapters | length }}</p>
                            </div>
                            <div class="col-4 col-md-2 novel-summury-item view-total">
                                <label>Views</label>
                                <p><i class="fas fa-eye"></i> {{ novel.view_total }}</p>
                            </div>
                            <div class="col-4 col-md-2 novel-summury-item status">
                                <label>Status</label>
                                <p>{{ novel.status.name }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 novel-button">
                        <button class="btn btn-sm btn-primary">
                            <i class="fas fa-sort-numeric-down"></i> First chap
                        </button>
                        <button class="btn btn-sm btn-primary">
                            <i class="fas fa-sort-numeric-up"></i> Latest chap
                        </button>
                        <button class="btn btn-sm btn-danger">
                            <i class="fas fa-bug"></i> Issue
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}