{% if paginated_data.paginator.num_pages > 1 %}
    <nav class="pagination-wrap" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if paginated_data.paginator.num_pages != 1 %}
                <li class="page-item">
                    <a class="page-link" href="?{{ page_label }}=1{{ other_params }}">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                </li>
            {% endif %}
            {% if paginated_data.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{{ page_label }}={{ paginated_data.previous_page_number }}{{ other_params }}">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>
            {% endif %}
            {% for i in paginated_data.paginator.page_range %}
                {% if paginated_data.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                    </li>
                {% elif paginated_data.number > i|add:"-3" and paginated_data.number < i|add:"+3" %}
                    <li class="page-item"><a class="page-link" href="?{{ page_label }}={{ i }}{{ other_params }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if paginated_data.paginator.num_pages != paginated_data.number %}
                <li class="page-item">
                    <a class="page-link" href="?{{ page_label }}={{ paginated_data.paginator.num_pages }}{{ other_params }}">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}