.widget-title {
  border-bottom: 2px solid #F0F0F0;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

  label {
    border-bottom: 2px solid #5e72e4;
    margin-bottom: -2px;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}